<h1>Edit article</h1>

  <% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  
  <table>
    <%= form_for(@article) do |a| %>
    <%= a.hidden_field :user_id, :value => @article.user_id %>
      <tr>
        <th>Title</th>
        <td>:</td>
        <td><%= a.text_field :title %></td>
      </tr>
      <tr>
        <th>Body</th>
        <td>:</td>
        <td><%= a.text_area :body %></td>
      </tr>
      <tr>
        <td>
          <%= a.submit %>
          <%= link_to "back", articles_path %>
        </td>
      </tr>
    <% end %>
  </table>
