<h3>Listing Articles</h3>
  
  <table>
    <% @articles.each do |a| %>
    <tr>
      <th>Title</th>
      <td>:</td>
      <td><%= a.title %></td>
    </tr>
    <tr>
      <th>Body</th>
      <td>:</td>
      <td><%= a.body.truncate(40) %></td>
    </tr>
    <tr>
      <td>Posted at</td>
      <td>:</td>
      <td><%= a.created_at %></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><%= link_to "See more", article_path(a.id), :method => :get %>
        <% if session[:user_id]%>
          <% if current_user.id == a.user_id || current_user.is_admin? %>
            <%= link_to "Edit", edit_article_path(a.id) %>
            <%= link_to "Delete", article_path(a.id), :method => :delete, :confirm => 'Are You sure to Delete this ?' %>
          <% end %>
        <% end %>
       </td>
    </tr>
    <% end %>
  </table>
