<h2>New Article</h2>
  
  <% if @article.errors.any? %>
      <% for message in @article.errors.full_messages %>
          <li><%= message %></li>
      <% end %>
  <% end %>
  
  <%= form_for @article do |a|%>
    <table>
      <%= a.hidden_field :user_id, :value => current_user.id %>
      <tr>
        <th>Title</th>
        <td>:</td>
        <td><%= a.text_field :title %></td>
      </tr>
      <tr>
        <th>Body</th>
        <td>:</td>
        <td><%= a.text_area :body %></td>
      </tr>
      <tr>
        <td>
          <%= a.submit %>
          <%= link_to "back", articles_path %>
        </td>
      </tr>
    </table>
  <% end %>
