<h2>More Information About Article</h2>
  
  <% if @comment.errors.any? %>
      <% for message in @comment.errors.full_messages %>
          <li><%= message %></li>
      <% end %>
  <% end %>
  
  <table>
    <tr>
      <th>Title</th>
      <td>:</td>
      <td><%= @article.title %></td>
    </tr>
    <tr>
      <th>Body</th>
      <td>:</td>
      <td><%= @article.body %></td>
    </tr>
    <tr>
      <th>Writter</th>
      <td>:</td>
      <td><%= @user.name %></td>
    </tr>
  </table>
  
  <div id="comments">
    <%= render :partial => "comments", :locals => {:comments => @comments}  %>
  </div>
  
  <% if current_user %>  
    <h2>Add a comment:</h2>
    <%= form_for @comment, :url => comments_path, :remote => true do |f| %>
      <%= f.hidden_field :article_id, :value => @article.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <div class="field">
        <%= f.label :comment %><br />
        <%= f.text_area :comment %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% else %>
    <p><strong>
    If you want to comment..?<br />
    you must <%= link_to "Log_in", :root %> first
    </strong></p>
  <% end %>  
  
  <%= link_to "Back", articles_path %>
  <% if session[:user_id]%>
    <% if current_user.id == @article.user_id || current_user.is_admin? %>
      <%= link_to "Edit", edit_article_path(@article.id) %>
    <% end %>
  <% end %>
