<% if @user.errors.any? %>
  <h2 id="notice">Form is invalid</h2>
   <ul>
     <% @user.errors.full_messages.each do |message|%>
       <li id="notice"><%= message %></li>
     <% end %>
   </ul>
<% end %>

<h1>Editing user</h1>

<%= form_for(@user) do |f| %>  
  <table>
    <tr>
      <th><%= f.label :name %></th>
      <td>:</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :address %></th>
      <td>:</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td>:</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td>:</td>
      <td><%= f.password_field :password %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confrimation %></th>
      <td>:</td>
      <td><%= f.password_field :password_confirmation %></td>
    </tr>
    <tr>
      <th><%= f.label :phone_number %></th>
      <td>:</td>
      <td><%= f.text_field :phone_number %></td>
    </tr>
    <tr>
      <th><%= f.label :birthday %></th>
      <td>:</td>
      <td><%= f.date_select :birthday, :start_year => 1980 %></td>
    </tr>
    <tr>
      <th><%= f.label :gender %></th>
      <td>:</td>
      <td>
        <%= f.radio_button :gender, 'male' %>
        <%= f.label :gender_male, :Male %>
        <%= f.radio_button :gender, 'female' %>
        <%= f.label  :gender_female, :Female %>
      </td>
    </tr>
    <tr>
      <th><%= f.label :facebook %></th>
      <td>:</td>
      <td><%= f.text_field :facebook %></td>
    </tr>
    <tr>
      <th><%= f.label :blog %></th>
      <td>:</td>
      <td><%= f.text_field :blog %></td>
    </tr>
    <tr>
      <td><%= f.submit %></td>
    </tr>
  </table>
<% end %>

<%= link_to 'Back', user_path, :method => :get%>
