<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Address</th>
    <th>Phone number</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Facebook</th>
    <th>Blog</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.name %></td>
    <td><%= user.address %></td>
    <td><%= user.phone_number %></td>
    <td><%= user.birthday %></td>
    <td><%= user.gender %></td>
    <td><%= user.facebook %></td>
    <td><%= user.blog %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
