<h2>User Profile</h2>

<table>
  <tr>
    <th>Email</th>
    <td>:</td>
    <td><%= @user.email %></td>
  </tr>

  <tr>
    <th>Password hash</th>
    <td>:</td>
    <td><%= @user.password_hash %></td>
  </tr>

  <tr>
    <th>Password salt</th>
    <td>:</td>
    <td><%= @user.password_salt %></td>
  </tr>

  <tr>
    <th>Name</th>
    <td>:</td>
    <td><%= @user.name %></td>
  </tr>

  <tr>
    <th>Address</th>
    <td>:</td>
    <td><%= @user.address %></td>
  </tr>

  <tr>
    <th>Phone number</th>
    <td>:</td>
    <td><%= @user.phone_number %></td>
  </tr>

  <tr>
    <th>Birthday</th>
    <td>:</td>
    <td><%= @user.birthday %></td>
  </tr>

  <tr>
    <th>Gender</th>
    <td>:</td>
    <td><%= @user.gender %></td>
  </tr>

  <tr>
    <th>Facebook</th>
    <td>:</td>
    <td><%= @user.facebook %></td>
  </tr>

  <tr>
    <th>Blog</th>
    <td>:</td>
    <td><%= @user.blog %></td>
  </tr>
  
</table>
<%= link_to "Back", :root %>
<% if current_user == 'nil'%>
  <%= link_to "Please Login", :root%>
<% end %>
