<h2>List Category</h2>
  <ul class="sidelistcategory">
    <% Category.all.each do |category| %>
      <% if category.parent_id %>
        <li class="tab"><%= category.name %></li>
      <% else %>
        <li><%= category.name %></li>
      <% end %>
    <% end %>
  </ul>
