<h2>Edit Form</h2>

  <% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <%= form_for [:admin,@category] do |cat|%>
    <table>	
      <tr>
        <td><%= cat.label :name %></td>
        <td>:</td>
        <td><%= cat.text_field :name %></td>
      </tr>
      <tr>
        <td><%= cat.label :parent_id %></td>
        <td>:</td>
        <td><%= cat.select :parent_id, @parent_category, { :prompt => true } %></td>
      </tr>
      <tr>
        <td><%= cat.submit %></td>
        <td></td>
        <td><%= link_to "back", admin_categories_path %></td>
      </tr>
    </table>
  <% end %>
