<h3>Listing Category</h3>
  
  <%= flash[:error] %>
  
  <%= link_to "New Category", new_admin_category_path %><br /><br />
  <table>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Parent Category</th>
      <th>Action</th>
    </tr>
    <% @categories.each_with_index do |cat ,x| %>
      <tr>
        <td><%= x+1 %></td>
        <td><%= cat.name %></td>
        <% if cat.parent_id %>
          <% @cat = Category.find(cat.parent_id) %>
          <td><%= @cat.name %></td>
        <% else %>
          <td><%= "-" %></td>
        <% end %>
        <td>
        <%= link_to "Edit", edit_admin_category_path(cat.id) %>
        <%= link_to "Show", admin_category_path(cat.id), :method => :get %>
        <%= link_to "Delete", admin_category_path(cat.id), :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>

