<h2>New Category</h2>

  <% if @category.errors.any? %>
      <% for message in @category.errors.full_messages %>
          <li><%= message %></li>
      <% end %>
  <% end %>
  
  <%= form_for [:admin,@category] do |cat| %>
    <table>
      <tr>
        <th>Name</th>
        <td>:<td>
        <td><%= cat.text_field :name %></td>
      </tr>
      <tr>
        <th>Parent Category</th>
        <td>:<td>
        <td><%= cat.select :parent_id, @parent_category, { :prompt => true } %></td>     
      </tr>
      <tr>
        <td><%= cat.submit %></td>
        <td></td>
        <td><%= link_to "back", admin_categories_path %></td>
      </tr>
    </table>
  <% end %>
