<h3>Detail Category <%= @category.name %></h3>
  <table>
     <tr>
       <th>Name</th>
       <td>:</td>
       <td><%= @category.name %></td>
     </tr>
     <tr>  
       <th>Parent Category</th>
       <td>:</td>
       <td><%= @category.parent_id %></td>
     </tr>
  </table>
  
  <%= link_to "back", admin_categories_path %>
