/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

#notice {
  color: #900;
}

th{
  text-align: left;
}

ul, li {
  margin: 0;
  padding: 0;
}

.sign_up{
  float: right;
  color: #008000;
}

h3{
  border-top: 1px solid; 
  border-bottom: 1px solid; 
  padding: 15px 0 15px 0;
  margin: 0 0 10px 0;
}

.clear{
  clear: both;
}

.wrapper{
  width: 1150px;
  padding: 0 auto;
  margin: 0 auto;
}

.first_head{
  text-align: center;
  font-size: 20px;
}

.menu ul{
  float: left;
}

.menu li{
  list-style: none;
  position: relative;
  float: left;
}

.menu li a{
  text-decoration: none;
  padding: 0 10px 0 10px;
  color: 	#008000;
}

.menu li a:hover{
  color: #000;
}

.menu p{
  float: right;
  color: 	#008000;
  padding: 0 30px 0 0;
}

#content{
  float: left;
  width: 755px;
  margin: 5px;
  padding: 0 5px 5px 15px;
}

#sidecontent{
  float: left;
  width: 350px;
  margin: 5px;
}

footer p{
  text-align: center;
  color: #000;
}

.sidelistcategory{
  list-style: none;
  color: blue;
}

.sidelistcategory li.tab{
  padding-left: 30px;
  color: #000;
}

.sideafterlogin{
  list-style: none;
}

.sideafterlogin li a{
  text-decoration: none;
}

.sideafterlogin li a:hover{
  color: #900;
}

.sidearticle{
  padding: 0 0 15px 0;
}
