// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clear{
  clear: both;
}

.list_home_product{
  margin: 5px 5px 5px 0;
  border: 1px solid;
  width: 245px;
}

.home_h2{
  border-bottom: 2px solid;
  padding-bottom: 20px;
}

.list_home{
  text-align: left;
  margin: 0;
  padding: 0;
}

.list_home li{
  list-style-type: none;
  float: left;
}
