<h3>Listing Category</h3>  
  <table>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Parent Category</th>
    </tr>
    <% @categories.each_with_index do |cat ,x| %>
      <tr>
        <td><%= x+1 %></td>
        <td><%= cat.name %></td>
        <% if cat.parent_id %>
          <% @cat = Category.find(cat.parent_id) %>
          <td><%= @cat.name %></td>
        <% else %>
          <td><%= "-" %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= link_to "Back", :root %>

