<h2>Edit Form</h2>

  <% if @product.errors.any? %>
    <% @product.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
    
  <%= form_for @product do |pro|%>
  <%= pro.hidden_field :user_id, :value => @product.user_id %>
  <table>
    <tr>
      <th>Name</th>
      <td>:</td>
      <td><%= pro.text_field :name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td>:</td>
      <td><%= pro.text_area :description %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td>:</td>
      <td><%= pro.text_field :price %></td>
    </tr>
    <tr>
      <th>weight</th>
      <td>:</td>
      <td><%= pro.text_field :weight %></td>
    </tr>
    <tr>
      <th>Category</th>
      <td>:</td>
      <td><%= pro.select :category_id, @parent_category, { :prompt => true } %></td>
    </tr>
    <tr>
      <td><%= pro.submit %></td>
    </tr>
  </table>
  <% end %>

  <%= link_to "Back", products_path %>
