<h3>Listing Product</h3>

  <%= flash[:error] %>
  <ul class="list_home">
    <% @products.each do |pro| %>
      <li>
        <table class="list_home_product">
          <tr>
            <th>Name</th>
            <td>:</td>
            <td><%= pro.name %></td>
          </tr>
          <tr>
            <th>Price</th>
            <td>:</td>
            <td><%= pro.price %></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>
            <%= link_to "See more", product_path(pro.id), :method => :get %>
            <% if session[:user_id]%>
              <% if current_user.id == pro.user_id || current_user.is_admin? %>
                <%= link_to "Edit", edit_product_path(pro.id) %>
                <%= link_to "Delete", product_path(pro.id), :confirm => 'Are You sure to Delete this ?', :method => :delete %>
              <% end %>
            <% end %>
            </td>
          </tr>
        </table>
      </li>  
    <% end %>
  </ul>
  
