<h2>New Product</h2>

  <%= flash[:error] %>
  <% if @product.errors.any? %>
      <% for message in @product.errors.full_messages %>
          <li><%= message %></li>
      <% end %>
  <% end %>

  <%= form_for @product do |pro|%>
    <table>
      <tr>
        <th>Name</th>
        <td>:</td>
        <td><%= pro.text_field :name %></td>
      </tr>
      <tr>
        <th>Descripsion</th>
        <td>:</td>
        <td><%= pro.text_area :description%></td>
      </tr>
      <tr>
        <th>Price</th>
        <td>:</td>
        <td><%= pro.text_field :price %></td>
      </tr>
      <tr>
        <th>weight</th>
        <td>:</td>
        <td><%= pro.text_field :weight %></td>
      </tr>
      <tr>
        <th>Category</th>
        <td>:</td>
        <td><%= pro.select :category_id, @parent_category, { :prompt => true } %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= pro.submit %></td>
      </tr>
      <%= pro.hidden_field :user_id, :value => current_user.id %>
    </table>
  <% end %>
<%= link_to "Back", :root%>
