<h2>More Information About Product</h2>

  <table>
    <tr>
      <th>Name</th>
      <td>:</td>
      <td><%= @product.name %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td>:</td>
      <td><%= @product.description %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td>:</td>
      <td><%= @product.price %></td>
    </tr>
    <tr>
      <th>weight</th>
      <td>:</td>
      <td><%= @product.weight %></td>
    </tr>
    <tr>
      <th>Category</th>
      <td>:</td>
      <td><%= @product.category_id %></td>
    </tr>
    <tr>
      <th>Seller</th>
      <td>:</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>
       <%= link_to "Back", products_path %>
       <% if session[:user_id]%>
          <% if current_user.id == @product.user_id || current_user.is_admin? %>
            <%= link_to "Edit", edit_product_path(@product.id) %>
          <% end %>
       <% end %>          
      </td>
    </tr>
  </table>

