<!DOCTYPE html>
<html>
  <head>
    <title>Tubes</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">
    <header class="first_head">
      <h1>Welcome to my Store</h1>
    </header>
    <hr />
    
    <nav class="menu">
      <ul>
        <li><%= link_to 'Home', :root %></li>
        <li><%= link_to 'Products', products_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
        <% if session[:user_id]%>
          <li><%= link_to 'Category', categories_path %></li>
          <% if current_user.is_admin? %>
           <li><%= link_to 'Category', admin_categories_path %></li>
          <% end %>
        <% else %>
          <li><%= link_to 'Category', categories_path %></li>
        <% end %>        
      </ul>
      <br />
      <div class="clear"></div>
    </nav>
    <hr />
    
    <section>
      <p class="sign_up"><%= raw(welcome_text) %></p>
      <div class="clear"></div>
    </section>
    
    <aside id="sidecontent">
    <% if current_user %>
       <ul class="sideafterlogin">
         <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
         <li><%= link_to "Sell a Product", new_product_path %></li>
         <li><%= link_to "Share an Article", new_article_path %></li>
         <li><%= link_to "Logout", log_out_path %></li>
       </ul>
       <hr />
      <%= render :partial => "shared/list_categories" %>
      <% else %>
        <%= render "sessions/log_in" %>
      <% end %>
    </aside>
    
    <section id="content">
      <div id="notice" >
        <% if flash[:notice] %>
          <%= flash[:notice] %>
        <% end %>
        <% if flash[:error] %>
          <%= flash[:error] %>
        <% end %>
      </div>
      <%= yield %>
    </section>
    <div class="clear"></div>
    
    <hr />
    <footer>
	    <p>Copyright &#169; Ardhi Sofyan W 2012</p>
    </footer>
    </div>
  </body>
</html>
